<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Otica Miguel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<nav id="navbar" class="cabecalho animate-header">
    <ul>
        <li><a href="/" class="nav-link"><i class="bi bi-house-fill"></i> Inicio</a></li>
        <li><a href="/addcliente" class="nav-link"><i class="bi bi-person-plus-fill"></i> Cadastrar cliente</a></li>
        <li><a href="/clientes" class="nav-link"><i class="bi bi-people-fill"></i> Clientes</a></li>
        <li><a href="/addprescricao" class="nav-link"><i class="bi bi-file-plus-fill"></i> Cadastrar prescrição</a></li>
        <li><a href="/prescricoes" class="nav-link"><i class="bi bi-files-alt"></i> Prescrições</a></li>
        <li><a href="/addestoque" class="nav-link"><i class="bi bi-cart-plus-fill"></i> Cadastrar produto</a></li>
        <li><a href="/estoques" class="nav-link"><i class="bi bi-cart4"></i> Produtos</a></li>
        <li><a href="/addvenda" class="nav-link"><i class="bi bi-cash-stack"></i> Cadastrar venda</a></li>
        <li><a href="/vendas" class="nav-link"><i class="bi bi-cash"></i> Vendas</a></li>
    </ul>
</nav>
    {{{body}}}
</body>
</html>