<h1>Cadastre o seu cliente:</h1>
<form class="form" action="/clientes/insertcliente" method="POST">
  
  <div class="form-control">
    <label for="nome">Nome do cliente:</label>
    <input type="text" name="nome" placeholder="Digite o nome do cliente">
  </div>

  <div class="form-control">
    <label for="cpf">CPF do cliente:</label>
    <input type="text" name="cpf" placeholder="Digite o CPF do cliente">
  </div>

  <div class="form-control">
    <label for="DataNasc">Data de Nascimento do cliente:</label>
    <input type="date" name="DataNasc" placeholder="Digite a data de nascimento do cliente">
  </div>

  <div class="form-control">
    <label for="endereco">Endereço do cliente:</label>
    <input type="text" name="endereco" placeholder="Digite o endereço do cliente">
  </div>

  <div class="form-control">
    <label for="fone">Telefone do cliente:</label>
    <input type="text" name="fone" placeholder="Digite o telefone do cliente">
  </div>

  <div class="form-control">
    <label for="email">Email do cliente:</label>
    <input type="email" name="email" placeholder="Digite o email do cliente">
  </div>

  <input type="submit" value="Cadastrar">
</form>