<h1>Cadastre sua prescrição:</h1>
<form class="form" action="/prescricoes/insertprescricao" method="POST">
  
  <div class="form-control">
    <label for="nome_cliente">Nome do cliente:</label>
    <input type="text" name="nome_cliente" placeholder="Digite o nome do cliente">
  </div>

  <div class="form-control">
    <label for="cpf">CPF do cliente:</label>
    <input type="text" name="cpf" placeholder="Digite o CPF do cliente">
  </div>

  <div class="form-control">
    <label for="data_prescricao">Data da prescrição cliente:</label>
    <input type="date" name="data_prescricao" placeholder="Digite a data da prescrição do cliente">
  </div>

  <table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3">Longe</th>
      <th colspan="3">Perto</th>
    </tr>
    <tr>
      <th></th>
      <th>OD</th>
      <th>OE</th>
      <th></th>
      <th>OD</th>
      <th>OE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Esfera</td>
      <td><input type="number" step="0.25" name="grau_esferico_od_longe"></td>
      <td><input type="number" step="0.25" name="grau_esferico_oe_longe"></td>
      <td></td>
      <td><input type="number" step="0.25" name="grau_esferico_od_perto"></td>
      <td><input type="number" step="0.25" name="grau_esferico_oe_perto"></td>
      <td></td>
    </tr>
    <tr>
      <td>Cilindro</td>
      <td><input type="number" step="0.25" name="grau_cilindrico_od_longe"></td>
      <td><input type="number" step="0.25" name="grau_cilindrico_oe_longe"></td>
      <td></td>
      <td><input type="number" step="0.25" name="grau_cilindrico_od_perto"></td>
      <td><input type="number" step="0.25" name="grau_cilindrico_oe_perto"></td>
      <td></td>
    </tr>
    <tr>
      <td>Eixo</td>
      <td><input type="number" step="1" name="eixo_od_longe"></td>
      <td><input type="number" step="1" name="eixo_oe_longe"></td>
      <td></td>
      <td><input type="number" step="1" name="eixo_od_perto"></td>
      <td><input type="number" step="1" name="eixo_oe_perto"></td>
      <td></td>
    </tr>
  </tbody>
</table>

  <div class="form-control">
  <label for="tipo_lente">Tipo de Lente:</label>
  <select id="tipo_lente" name="tipo_lente">
    <option value="monofocal">Monofocal</option>
    <option value="bifocal">Bifocal</option>
    <option value="progressiva">Progressiva</option>
  </select>
  </div>

  <div class="form-control">
    <label for="marca_lente">Marca da lente:</label>
    <input type="text" name="marca_lente" placeholder="Digite a marca da lente">
  </div>

  <input type="submit" value="Cadastrar">
</form>